[Unit]
Description=Only allow dovecot users to access mail submission port
Requires=dovecot.service

[Service]
Type=simple
User=root
ExecStart=BIN_DIR/dovecot-submission
# Set timeout to processing interval
TimeoutSec = 30
Restart = on-failure
RestartSec = 2

[Install]
WantedBy=multi-user.target
